{%extends 'common/common.html' %}
{%load static%}
{%block content%}
<!-- body start -->
<div class="col content-abt d-flex">
    <div class="row justify-content-center position align-items-center">
        <div class="box-abt my-4">
            <h3 class="text-center mb-4"><u>About</u></h3>
            <p class="">
                PrivMsg is a Free and Open Source Software that is also self-hostable. It is built to be an
                instant messaging and burn note service. It is written and built with django channels and mongodb. <br>
                PrivMsg uses AES-256 bit encryption to encrypt your messages and notes. Every burn note link comes with
                two parts - the identifier and a password which is separated by a semi colon. PrivMsg only stores the
                identifier, while the password which is used to encrypt the link, it is never stored in the database.
            </p>
        </div>
    </div>
</div>
<!-- end -->

{%endblock%}