{%extends 'common/common.html' %}
{%load static%}
{%block content%}
<!-- body start -->
<div class="col content-abt d-flex">
    <div class="row justify-content-center position align-items-center">
        <div class="box-abt my-4">
            <h3 class="text-center mb-4"><u>TOS</u></h3>
            <p class="">PrivMsg encrypts all the data with a password before storing it in our database. While,
                PrivMsg promises to keep everything anonymous, it is important that we list the obvious:<br /><br />
                1. You agree to not hold PrivMsg responsible for any link that has been shared to use our service.<br />
                2. You shall in no circumstance misuse the service for anything illegal.<br />
                3. You acknowledge that while all data is encrypted and stored, PrivMsg cannot be held responsible in
                any way.<br />
                4. You agree to report to the team if there has been a breach of TOS.<br />
                5. You agree that there can be changes to the TOS without prior notice.<br /></p>
        </div>
    </div>
</div>
<!-- end -->

{%endblock%}