@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin:0;
}
body{
    background-color: #1d1d1d !important;
    color: white !important;
    font-family: 'poppins',sans-serif !important;
}
.head{
    width: fit-content;
}
h1 a{
    text-decoration: none;
    color:white;
}
.box{
    background-color: white;
    border-radius: 15px;
    padding: 20px !important;
    height: 280px;
    width: 340px !important;
    padding-top: 65px !important;
}
/* position of the box */
.position{
    margin: 5px !important;
    min-width: auto;
    max-width: 500px;
}
/* box-height */
.content{
    min-height: 60%;
    max-height: auto;
}
.foot a{
    text-decoration: none;
    color: white;
}

h1 a:hover , .foot a:hover{
    color: rgb(167, 166, 166);
}

/* button alignment */
.room-master{
    margin:auto;
}
.room-btn{
    background-color: black !important;
    color:white !important;
    padding: 15px;
    border-radius: 20px;
    color: black;
    width:85%;
    margin-bottom: 40px;
}
.room-master a{
    text-decoration:none;
}
.room-btn:hover{
    cursor: pointer;
    /* background-color: rgb(242, 242, 242) !important; */

}

/* description of the buttons */
.info-master{
    height: fit-content;
}
.info{
    position:relative;
    top: 15px;
    font-size: 13px;
    color:black;
}
/* end-credit message */
.end{
    font-size:10px;
    width: fit-content;
}

@media screen and (max-width: 320px) {
    .box{
        width: 250px !important;
        padding: 12px !important;
        padding-top: 70px !important;
    }
    .room-btn{
        width:95%;
    }
}
