<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Chat Rooms</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"
    integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% load static %}
  <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
  What chat room would you like to enter?<br />
  <form method="post">
    {% csrf_token %}
    <input id="username" name="username" type="text" size="100" placeholder="Username" /><br />
    <input id="password" name="password" type="text" size="100" placeholder="Password" /><br />
    <input id="submit" type="submit" onclick="setCookie()" value="Enter" />
  </form>
</body>

</html>

