{%extends 'common/common.html' %}
{%load static%}
{%block head_tags%}
<script src="{% static 'js/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{%endblock%}

{%block content%}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
{% elif message.tags == 'info' %}
<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
{% elif message.tags == 'warning' %}
<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
{% elif message.tags == 'error' %}
<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
{% endif %}
{% endfor %}
{% endif %}

<!-- body start -->
<div class="row d-flex align-items-center justify-content-center form-elements">
    <div class="col d-flex flex-column justify-content-center align-items-center form h-100 p-0">
        <div class="content-cr my-4">
            <div class="row d-flex justify-content-center">
                <form class="col" method="post">
                    {% csrf_token %}
                    <div class="row text-center">
                        {%if not join%}
                        <h1>Create Room</h1>
                        {%else%}
                        <h1>Join Room</h1>
                        {%endif%}
                    </div>
                    <div class="row my-3">
                        <input type="text" class="input-box row form w-auto m-auto" name="username"
                            placeholder="Username">
                    </div>
                    <div class="row my-3">
                        <input type="text" class="input-box row form w-auto m-auto" name="password"
                            placeholder="Password">
                    </div>
                    <div class="row my-3">
                        {%if not join%}
                        <button type="submit" class=" w-auto m-auto row join-button w-auto m-auto">Create
                            Room</button>
                        {%else%}
                        <button type="submit" class=" w-auto m-auto row join-button w-auto m-auto">Join
                            Room</button>
                        {%endif%}

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%if not join%}
<div class="row join-room text-center m-auto" onclick="togglePopup()">
    <p>Looking to join a room?</p>
</div>
<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="col content-cr d-flex">
        <div class="close-btn" onclick="togglePopup()"><i class=" fas fa-arrow-left"></i></div>
        <form class="form-container" method="post">
            {% csrf_token %}
            <h1 class="my-3">Join Room</h1>
            <input type="text" class="row input-box justify-content-center m-auto my-3" name="room_name"
                placeholder="Enter Room Code">
            <button type="submit" class="row btn btn-primary create-room justify-content-center btn">Join Room</button>
        </form>
    </div>
</div>
{%endif%}
<!-- end -->
<script src="{%static 'js/home.js' %}"></script>
{%endblock%}