{%extends 'common/common.html' %}
{%load static%}
{%block head_tags%}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{%endblock%}
{%block content%}

<!-- body start -->
<div class="row m-auto content-conf-master my-4">
    <div class="col content-conf m-auto d-flex">
        <form class="form-container" method="post">
            {%csrf_token%}
            <h1 class="mb-3 text-center">View burn note</h1>
            <p class="text-center">Are you sure you want to read this note? You can only view it once.
            </p>
            <div class="row d-flex justify-content-center ">
                <a class="w-auto"><button type="submit"
                        class="btn btn-primary create-room justify-content-center mx-3 my-1">Read
                        note</button></a>
                <a class="w-auto"><button type="button" class="btn btn-danger create-room justify-content-center my-1"
                        onclick="copyURL()">Copy link to clipboard</button></a>
            </div>

        </form>
    </div>
</div>
<!-- end -->
{%endblock%}