<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrivMsg</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/confirmation.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
</head>

<body>
    <div class="popup active" id="popup-1">
        <div class="overlay"></div>
        <div class="col content d-flex">
            <div class="close-btn" onclick="togglePopup()"><i class="fas fa-arrow-left"></i></div>
            <form method="post" class="form-container small-form">
				{% csrf_token %}
				{% if not msg %}
					<h1 class="mb-3">View burn note</h1>
					<p>Are you sure you want to read this note? You can only view it once.</p>
					<div class="row d-flex justify-content-center">
						<button type="submit" class="col-md-6 btn btn-primary create-room justify-content-center btn me-sm-3 my-1" >Read note</button>
						<button type="button" class="col-md-6 btn btn-info create-room justify-content-center btn me-sm-3 my-1" onclick="copyURL()" >Copy link to clipboard</button>
					</div>
				{% else %}
					<textarea name="" id="" class="form-control">{{ msg }}</textarea>
				{% endif %}
            </form>

        </div>
    </div>

</body>

</html>